@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
body {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 7rem;
}

/* Container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*NavBar*/

.nav__container {
  background: gray;
}
.nav {
  background: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem;
}
.nav__heading {
  font-size: 1.5rem;
  font-family: "Rampart One", cursive;
  color: white;
  padding-left: 10px;
}
.nav__heading a {
  text-decoration: none;
  color: white;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.781);
}
.nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 1.5rem;
}
.nav__item a:hover {
  color: lightgrey;
}
.nav-toggler {
  fill: white;
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
.nav-cross {
  fill: white;
  display: none;
  opacity: 0;
}
.icon-small {
  width: 30px;
  height: 30px;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .nav-cross {
  display: block;
  opacity: 1;
}
.collapsible--expanded .nav-toggler {
  display: none;
  opacity: 0;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
@media screen and (min-width: 786px) {
  .nav-toggler,
  .nav-toggler-container,
  .nav-cross {
    display: none;
  }
  .collapsible--expanded .nav-cross {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item a {
    font-size: 1rem;
  }
  .nav__item {
    border: 0;
  }
}
/* ICONS */

.icon {
  width: 40px;
  height: 40px;
}

/* LIST Style */

.list {
  list-style: none;
  padding-left: 0;
}

/* Hero Section */

.hero-container {
  margin: 0;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/doctor.jpg");
  min-height: 70vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__searchbar {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  border: 1px solid black;
  padding: 0px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.4);
}
.icon--white {
  fill: white;
}
.hero__searchbar button .icon {
  width: 15px;
  height: 12px;
}
@media screen and (min-width: 400px) {
  .hero__searchbar input {
    background: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
    padding-left: 7px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .hero__searchbar input::placeholder {
    color: white;
  }
  .hero__searchbar button {
    background-color: transparent;
    height: 34px;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .hero__searchbar {
    border: 0;
    background-color: transparent;
  }
  .hero__searchbar input {
    border: 0;
    color: white;
    font-size: 1rem;
    height: 2rem;
    padding-left: 7px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
  }
  .hero__searchbar button {
    background: darkblue;
    margin-left: 30px;
    width: 145px;
    height: 20px;
    border: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: white;
  }
  .hero__searchbar button .icon {
    width: 20px;
    height: 10px;
  }
}
@media screen and (min-width: 370px) and (max-width: 400px) {
  .hero__searchbar {
    transform: translate(-25%, -60%);
  }
}
@media screen and (min-width: 450px) and (max-width: 770px) {
  .hero__searchbar {
    transform: translate(-15%, -50%);
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .hero__searchbar {
    transform: translate(-10%, -60%);
  }
}
@media screen and (min-width: 1401px) and (max-width: 1440px) {
  .hero__searchbar {
    transform: translate(10%, -60%);
  }
}
@media screen and (min-width: 1450px) and (max-width: 2560px) {
  .hero__searchbar {
    transform: translate(65%, -60%);
  }
}

/* Grid */

.grid {
  display: grid;
}

/* FOOTER */

.footer {
  background: #232323;
  padding-top: 10px;
}
.footer a {
  color: #777;
  transition: color 0.3s;
}
.footer a:hover {
  color: white;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__section .list {
  margin: 0;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__brand {
  margin-top: 5rem;
  text-align: center;
}
.footer__brand img {
  width: 100%;
  height: auto;
  max-width: 230px;
}
.footer__copyright {
  color: white;
  font-size: 2.1rem;
  margin: 0;
  opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
    border-right: 1px solid white;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}
.copy_right {
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
  padding-bottom: 8px;
}
hr {
  margin: 5px;
  border: 1px solid white;
}
.made_by::before {
  content: "</>";
}
/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 2rem;
}
.icon--white {
  fill: white;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Contact Form */

.contactus-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.contactus-form input[type="text"],
.contactus-form input[type="email"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.contactus-form label {
  padding: 15px 30px 15px 0;
  display: inline-block;
}
.contactus-form input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 20px;
}
.contactus-form input[type="submit"]:hover {
  background-color: rgb(63, 63, 245);
}
.contactus-form form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  width: 70vw;
}
.contactus-form .col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}
.contactus-form .label-100 {
  width: 100%;
}
.contactus-form .row:after {
  content: "";
  display: table;
  clear: both;
}
.spam-control {
  width: 10%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  display: -webkit-box;
}
.contactus-form textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
@media screen and (max-width: 600px) {
  .contactus-form form {
    width: 100vw;
  }
  .contactus-form .col-50,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (min-width: 1500px) {
  .contactus-form label {
    width: 50%;
  }
}
