    <section class="contact-flip">
      <div class="contact_wraper">
        <a href="" class="next_page_button"></a>
        <a href="" class="prev_page_button"></a>
        <div id="mycontact" style="display: none">
          <div>
            <h1>Contact Us</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
              id ex culpa, cumque unde a molestias adipisci iusto voluptatum
              minima blanditiis eligendi quis. Saepe, quis? Libero consequatur
              quo sed est.
            </p>
            <a href="" class="article">Article</a>
            <a href="" class="demo">DEMO</a>
          </div>
        </div>
        <div>
          <img src="" alt="" />
          <h1>Gallery</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis
            nihil qui inventore. Quos, commodi nesciunt id, est velit omnis
            aperiam molestiae incidunt quaerat eveniet eaque quod voluptatibus
            iusto illo.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h1>Gallery</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis
            nihil qui inventore. Quos, commodi nesciunt id, est velit omnis
            aperiam molestiae incidunt quaerat eveniet eaque quod voluptatibus
            iusto illo.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h1>Gallery</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis
            nihil qui inventore. Quos, commodi nesciunt id, est velit omnis
            aperiam molestiae incidunt quaerat eveniet eaque quod voluptatibus
            iusto illo.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h1>Gallery</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis
            nihil qui inventore. Quos, commodi nesciunt id, est velit omnis
            aperiam molestiae incidunt quaerat eveniet eaque quod voluptatibus
            iusto illo.
          </p>
        </div>
      </div>
    </section>