<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Basics</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list footer__list">
          <li><a href="">Home</a></li>
          <li><a href="">Payment</a></li>
          <li><a href="">About</a></li>
          <li class="subheading"><a href="">About</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Services</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list footer__list">
          <li><a href="">Item 1</a></li>
          <li><a href="">Item 2</a></li>
          <li><a href="">Item 3</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">How Do We Work?</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list footer__list">
          <li><a href="">Item 1</a></li>
          <li><a href="">Item 2</a></li>
          <li><a href="">Item 3</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <h1 class="nav__heading">
        <a href="practice.html">MelodiaHomeCare</a>
      </h1>
    </section>
  </div>
  <hr />
  <div class="copy_right">
    <p class="footer__copyright">Copyright © 2021 MelodiaHomeCare</p>
    <p class="footer__copyright">support@melodiahomecare.com</p>
    <p class="footer__copyright made_by">RYKSOFT</p>
  </div>
</footer>
