<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Item 1</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">item 2</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">item 2</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <h1 class="nav__heading"><a href="practice.html">MelodiaHomeCare</a></h1>
      </section>
      
    </div>
    <hr>
    <div class="copy_right">
        <p class="footer__copyright">Copyright © 2021 MelodiaHomeCare</p>
        <p class="footer__copyright">support@melodiahomecare.com</p>
        <p class="footer__copyright made_by"></>RYKSOFT</p>
    </div>
  </footer>