<section class="testimonial testimonial-slider">
  <h2>Testimonials</h2>

  <div id="coverflow">
    <ul class="flip-items">
      <li>
        <div class="testimonial--content">
          <div class="qout">
            <svg class="icon qout-icon" style="right: 0">
              <use xlink:href="images/sprite-qout.svg#quote-left-solid"></use>
            </svg>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              error sapiente autem voluptas quia omnis incidunt eos dicta quo
              illo consequuntur dolore necessitatibus, rem, possimus veritatis
              quaerat molestiae beatae obcaecati?
            </p>
            <svg
              class="icon qout-icon"
              style="align-self: flex-end; margin-top: 0; margin-bottom: 50px"
            >
              <use xlink:href="images/sprite-qout.svg#quote-right-solid"></use>
            </svg>
          </div>
          <div class="qout--by">
            <img src="images/intro-image.jpeg" alt="" />
            <h1>Jhon Doe</h1>
            <p>Good Customer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial--content">
          <div class="qout">
            <svg class="icon qout-icon" style="right: 0">
              <use xlink:href="images/sprite-qout.svg#quote-left-solid"></use>
            </svg>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              error sapiente autem voluptas quia omnis incidunt eos dicta quo
              illo consequuntur dolore necessitatibus, rem, possimus veritatis
              quaerat molestiae beatae obcaecati?
            </p>
            <svg
              class="icon qout-icon"
              style="align-self: flex-end; margin-top: 0; margin-bottom: 50px"
            >
              <use xlink:href="images/sprite-qout.svg#quote-right-solid"></use>
            </svg>
          </div>
          <div class="qout--by">
            <img src="images/intro-image.jpeg" alt="" />
            <h1>Jhon Doe</h1>
            <p>Good Customer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial--content">
          <div class="qout">
            <svg class="icon qout-icon" style="right: 0">
              <use xlink:href="images/sprite-qout.svg#quote-left-solid"></use>
            </svg>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              error sapiente autem voluptas quia omnis incidunt eos dicta quo
              illo consequuntur dolore necessitatibus, rem, possimus veritatis
              quaerat molestiae beatae obcaecati?
            </p>
            <svg
              class="icon qout-icon"
              style="align-self: flex-end; margin-top: 0; margin-bottom: 50px"
            >
              <use xlink:href="images/sprite-qout.svg#quote-right-solid"></use>
            </svg>
          </div>
          <div class="qout--by">
            <img src="images/intro-image.jpeg" alt="" />
            <h1>Jhon Doe</h1>
            <p>Good Customer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial--content">
          <div class="qout">
            <svg class="icon qout-icon" style="right: 0">
              <use xlink:href="images/sprite-qout.svg#quote-left-solid"></use>
            </svg>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              error sapiente autem voluptas quia omnis incidunt eos dicta quo
              illo consequuntur dolore necessitatibus, rem, possimus veritatis
              quaerat molestiae beatae obcaecati?
            </p>
            <svg
              class="icon qout-icon"
              style="align-self: flex-end; margin-top: 0; margin-bottom: 50px"
            >
              <use xlink:href="images/sprite-qout.svg#quote-right-solid"></use>
            </svg>
          </div>
          <div class="qout--by">
            <img src="images/intro-image.jpeg" alt="" />
            <h1>Jhon Doe</h1>
            <p>Good Customer</p>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial--content">
          <div class="qout">
            <svg class="icon qout-icon" style="right: 0">
              <use xlink:href="images/sprite-qout.svg#quote-left-solid"></use>
            </svg>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              error sapiente autem voluptas quia omnis incidunt eos dicta quo
              illo consequuntur dolore necessitatibus, rem, possimus veritatis
              quaerat molestiae beatae obcaecati?
            </p>
            <svg
              class="icon qout-icon"
              style="align-self: flex-end; margin-top: 0; margin-bottom: 50px"
            >
              <use xlink:href="images/sprite-qout.svg#quote-right-solid"></use>
            </svg>
          </div>
          <div class="qout--by">
            <img src="images/intro-image.jpeg" alt="" />
            <h1>Jhon Doe</h1>
            <p>Good Customer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <script>
    var coverflow = $("#coverflow").flipster({
      loop: true,
      autoplay: 4000,
      pauseOnHover: false,
      style: "coverflow",
      spacing: -0.6,
      click: false,
      keyboard: false,
      scrollwheel: false,
      touch: false,
      nav: false,
      buttons: true,
      buttonPrev: "Previous",
      buttonNext: "Next",
      onItemSwitch: false,
    });
  </script>
</section>
